html{
    height: 100%;
    font-family: helvetica, arial;
    font-size: small;
    }

#background{
    position: absolute;
    left: 10%;
    /* TODO: Mudar os tamanhos quando mudar a imagem*/
    width: 1000px;
    height: 1000px;
    background-image: url("/osindicadosmedia/img/tv.png");
    background-repeat: no-repeat;
    }

#tela{
    position: inherit;
    top: 100px;
    left: 100px;
    width: 650px;
    height: 520px;
    border-style: solid;
    border-width: thin;
    }

#sidebar{
    position: inherit;
    top: 80px;
    left: 800px;
    width: 147px;
    height: 500px;
    border: medium;
    border-style: solid;
    border-width: thin;
    padding-left: 5px;
    }

#footer{
    position: inherit;
    top: 610px;
    left: 810px;
    width: 120px;
    height: 60px;
    border: medium;
    border-style: solid;
    border-width: thin;
    }
    
#alternativas h2{
    font-size: 14px;
}

#placar{
    color: black;
    float: right;
    margin-right: 30px;
    margin-top: -219px;
}

#tema{
    display:inline;
}

body{
    margin: 0px;
    padding: 0px;
}

#timeroptions{
    background: none repeat scroll 0 0 gainsboro;
    margin-left: 34px;
    margin-top: -25px;
    position: absolute;
    width: 290px;
}

#alternativas{
    color: black;
    padding: 0px 50px;
}

#ajudas{
    text-align: center;
}

.in{
    color: black;
}

.out{
	color: red;
}

.temaselecionado{
    width: 95%;
    margin: 3px;
}


h1.sidebar{
    color: white;
    font-family: Arial, Verdana;
    font-size: 18px;
    text-align: center;    
}

.nomeDificuldade{
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: -10px;
    color: yellow;
}

.naoselecionado{
	background-image: url("images/ui-icons_222222_mod_256x240.png");
}

.ui-icon.naoselecionado{
    background-image: url("images/ui-icons_222222_mod_256x240.png");
}