html{
	height: 100%;
	font-family: helvetica, arial;
	font-size: small;
	}

#background{
	position: absolute;
	left: 10%;
	/* TODO: Mudar os tamanhos quando mudar a imagem*/
	width: 1000px;
	height: 711px;
	background-image: url("/osindicadosmedia/img/tv.png");
	background-repeat: no-repeat;
	}

#tela{
	position: inherit;
	top: 100px;
	left: 100px;
	width: 650px;
	height: 520px;
	border-style: hidden;
	border-width: thin;
	}

#sidebar{
	position: inherit;
	top: 80px;
	left: 796px;
	width: 130px;
	height: 500px;
	border: medium;
	border-style: hidden;
	border-width: thin;
	padding-left: 5px;
	}

#footer{
	position: inherit;
	top: 610px;
	left: 800px;
	width: 133px;
	height: 60px;
	border: medium;
	border-style: hidden;
	border-width: thin;
	text-align: center;
	color: white;
	}

.temaselecionado{
	width: 92%;
}