<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script type="text/javascript" src="/osindicadosmedia/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/osindicadosmedia/js/jquery.countdown.js"></script>
    <script type="text/javascript" src="/osindicadosmedia/js/jquery.countdown-pt-BR.js"></script>
    <script type="text/javascript" src="/osindicadosmedia/js/javascript.js"></script>
    
    <link rel="stylesheet" href="/osindicadosmedia/css/jquery.countdown.css" />
    <link rel="stylesheet" href="/osindicadosmedia/css/partida.css" />
    <title>Os Indicados</title>
</head>

<body>
    <div id="background">
        <div id="tela">
            {% block tela %}{% endblock %}
        </div>
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
</html>