<h1>Pergunta:</h1> (faltam {{}} perguntas)

<h2>{{ pergunta.enunciado }}</h2>
<form method="post" action="../responder/" name="responder_frm">
{% csrf_token %}
{% for alternativa in alternativas %}
<input type="radio" name="alternativa" value="{{alternativa}}"> {{ alternativa }} <br/></input>
{% endfor %}
<input type="text" name="perguntaId" value="{{pergunta.id}}"/>
<input type="submit" value="responder"/>
</form>


<h1>Ajudas</h1>

<h1>Tempo</h1>

<h1>Configuracoes</h1>

<ul>
    <li>Dificuldade: {{ confs.dificuldade }}</li>
    <li>Temas: {{ confs.temas }}</li>
</ul>