{% extends "jogo/basedesign.html" %}

{% block extrahead %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript">
		$(function() {
			$(".check").button({
	            icons: {
                primary: 'ui-icon-circle-check'}
            });
			$("button, input:submit, a", ".demo").button();
		});
	</script>


{% endblock %}

<!-- exemplo de tela -->
{% block tela %}
	<h2>tela fake</h2>
{% endblock %}

<!-- exemplo de checkbox com jquery -->
{% block sidebar %}
	<table style="font-size: small;" align="center">
	<tr><td>
		<input type="checkbox" id="check1" class="check"/><label for="check1">Esportes</label><br/>
	</td></tr><tr><td>
		<input type="checkbox" id="check2" class="check"/><label for="check2">Música</label><br/>
	</td></tr><tr><td>
		<input type="checkbox" id="check3" class="check"/><label for="check3">Televisão</label><br/>
	</td></tr>
	</table>
{% endblock %}

<!-- exemplo de botao-->
{% block footer %}
<div class="demo">
	<input type="submit" value="Jogar">
</div>
{% endblock %}